.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  max-width: 500px; /* Set your desired max-width */
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  z-index: 1000;
}

.custom-modal h2 {
  font-weight: bold;
}

.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Ensure the overlay is on top of other elements */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}
